In [2]:
b = "hello world"
print(b[::-1])

dlrow olleh

In [4]:
num = int(input())
factorial = 1
for i in range (num):
    factorial *= (i+1)
print(factorial)

4
24

In [ ]:
num = int(input())
if(num%2==0):
    print('EVEN')
else:
    print('ODD')

In [4]:
l_list = [1,2,3]
mylist = l_list[0:-1]
print(mylist is l_list)
print(mylist)

False
[1, 2]

In [5]:
list1 = [1,2]
list2 = [3,4]
list3 = list1 + list2

In [6]:
print(list3)

[1, 2, 3, 4]

In [16]:
num = int(input())
check = True
for i in range(1, num//2+1):
    if(num%(i+1)==0):
        check = False
print(check)

13
True

In [1]:
print(range(2,7,2))

range(2, 7, 2)

In [3]:
for x in range(2,7,2):
    print(x)

2
4
6

## Area of a Triangle

In [5]:
s1 = int(input("ENTER SIDE 1  :  "))
s2 = int(input("ENTER SIDE 2  :  "))
s3 = int(input("ENTER SIDE 3  :  "))
s = (int(s1) + int(s2) + int(s3))/2
area = (s*(s-s1)*(s-s2)*(s-s3))**0.5
print("AREA OF THE TRIANGLE IS {} SQ. UNITS".format(area))

ENTER SIDE 1  :  3
ENTER SIDE 2  :  4
ENTER SIDE 3  :  5
AREA OF THE TRIANGLE IS 6.0 SQ. UNITS

## Generate Random Number

In [19]:
import random
start = int(input("start of generation :   "))
end = int(input("End of Generation  :  "))
print(random.randrange(start,end,5))

start of generation :   1
End of Generation  :  50
26

##  LCM of 2 numbers

In [21]:
import math
a = int(input("Enter your first  Number  :  "))
b = int(input("Enter your second  Number  :  "))
gcd = math.gcd(a,b)
lcm = int((a*b)/gcd)
print("LCM OF {} and {} is {}".format(a,b,lcm))

Enter your first  Number  :  3
Enter your second  Number  :  4
LCM OF 3 and 4 is 12

## 17th June

### Tuple

In [27]:
t = (1,2,3)
print(t[0])

1

In [31]:
print(t[0:1])

(1,)

In [35]:
l = list(t)
l.append(4)
t = tuple(l)

In [36]:
t

(1, 2, 3, 4)

In [38]:
t1 = tuple([1,2,3])
t1

(1, 2, 3)

In [44]:
s = {'apple', 'cherry', 'banana'}
s

{'apple', 'banana', 'cherry'}

In [45]:
max(s)

'cherry'

In [46]:
d = {'s' : "hello"}

In [52]:
if 'hello' in d:
    print("hello")

In [3]:
l1 = [1,2,3,4,5,6,7]
print(l1[6:2])

[]